Lab4/Client/WebSite4/App_WebReferences/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Multiplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplicationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="additionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="additionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="division">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="divisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="divisionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="substract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="substractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="substractResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MultiplicationSoapIn">
    <wsdl:part name="parameters" element="tns:Multiplication" />
  </wsdl:message>
  <wsdl:message name="MultiplicationSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="additionSoapIn">
    <wsdl:part name="parameters" element="tns:addition" />
  </wsdl:message>
  <wsdl:message name="additionSoapOut">
    <wsdl:part name="parameters" element="tns:additionResponse" />
  </wsdl:message>
  <wsdl:message name="divisionSoapIn">
    <wsdl:part name="parameters" element="tns:division" />
  </wsdl:message>
  <wsdl:message name="divisionSoapOut">
    <wsdl:part name="parameters" element="tns:divisionResponse" />
  </wsdl:message>
  <wsdl:message name="substractSoapIn">
    <wsdl:part name="parameters" element="tns:substract" />
  </wsdl:message>
  <wsdl:message name="substractSoapOut">
    <wsdl:part name="parameters" element="tns:substractResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicationHttpGetIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MultiplicationHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="additionHttpGetIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="additionHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="divisionHttpGetIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="divisionHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="substractHttpGetIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="substractHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="MultiplicationHttpPostIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MultiplicationHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="additionHttpPostIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="additionHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="divisionHttpPostIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="divisionHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="substractHttpPostIn">
    <wsdl:part name="a" type="s:string" />
    <wsdl:part name="b" type="s:string" />
  </wsdl:message>
  <wsdl:message name="substractHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Multiplication">
      <wsdl:input message="tns:MultiplicationSoapIn" />
      <wsdl:output message="tns:MultiplicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addition">
      <wsdl:input message="tns:additionSoapIn" />
      <wsdl:output message="tns:additionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="division">
      <wsdl:input message="tns:divisionSoapIn" />
      <wsdl:output message="tns:divisionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="substract">
      <wsdl:input message="tns:substractSoapIn" />
      <wsdl:output message="tns:substractSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="Multiplication">
      <wsdl:input message="tns:MultiplicationHttpGetIn" />
      <wsdl:output message="tns:MultiplicationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="addition">
      <wsdl:input message="tns:additionHttpGetIn" />
      <wsdl:output message="tns:additionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="division">
      <wsdl:input message="tns:divisionHttpGetIn" />
      <wsdl:output message="tns:divisionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="substract">
      <wsdl:input message="tns:substractHttpGetIn" />
      <wsdl:output message="tns:substractHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="Multiplication">
      <wsdl:input message="tns:MultiplicationHttpPostIn" />
      <wsdl:output message="tns:MultiplicationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="addition">
      <wsdl:input message="tns:additionHttpPostIn" />
      <wsdl:output message="tns:additionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="division">
      <wsdl:input message="tns:divisionHttpPostIn" />
      <wsdl:output message="tns:divisionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="substract">
      <wsdl:input message="tns:substractHttpPostIn" />
      <wsdl:output message="tns:substractHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Multiplication">
      <soap:operation soapAction="http://tempuri.org/Multiplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <soap:operation soapAction="http://tempuri.org/addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="division">
      <soap:operation soapAction="http://tempuri.org/division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="substract">
      <soap:operation soapAction="http://tempuri.org/substract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Multiplication">
      <soap12:operation soapAction="http://tempuri.org/Multiplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <soap12:operation soapAction="http://tempuri.org/addition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="division">
      <soap12:operation soapAction="http://tempuri.org/division" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="substract">
      <soap12:operation soapAction="http://tempuri.org/substract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Multiplication">
      <http:operation location="/Multiplication" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <http:operation location="/addition" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="division">
      <http:operation location="/division" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="substract">
      <http:operation location="/substract" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Multiplication">
      <http:operation location="/Multiplication" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <http:operation location="/addition" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="division">
      <http:operation location="/division" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="substract">
      <http:operation location="/substract" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://vhost1441.site1.compute.ihost.com/aspnet_client/WebSite1/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://vhost1441.site1.compute.ihost.com/aspnet_client/WebSite1/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://vhost1441.site1.compute.ihost.com/aspnet_client/WebSite1/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://vhost1441.site1.compute.ihost.com/aspnet_client/WebSite1/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>